*{
    box-sizing: border-box;
}
.container{
    background-image: url("h_img.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: 0 auto;
    margin-right: 0 auto;
    /* margin-left: 150px; */
    
}
.portfoli img{
    margin: 1%;
}.logo{
    margin-left: 530px;
    padding-top: 150px;
    /* margin-top: 300px; */
    align-items: center;

}
.paragraph{
    color: white;
    text-align: center;
    /* padding-left: 110px; */
}
.mouse{
    margin-left: 1150px;
    padding-top: 450px;
}
.about{
    text-align: center;
    word-spacing: 10px;
    font-size: 25px;
}
.services{
    background-image: url("s_image.jpg");
    width: 100%;
    height: 30vh;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: 0 auto;
    margin-right: 0 auto;
    /* margin-left: 150px; */
    padding-top: 40px;
    color: white;
    text-align: center;
    /* word-spacing: 10px; */
    font-size: 25px;
}
/* .servicesp{
    color: white;
    text-align: center;
    word-spacing: 10px;
    font-size: 25px;
} */
.whatwedo{
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 150px; */
    /* margin: 350px; */
    padding: 40px;
    padding-top: 50px;
}
.design p{
    font-size: 25px;
}
.product p{
    font-size: 25px;
}
.development p{
    font-size: 25px;
}
.heading{
    text-align: center;
    padding-top: 150px;
    /* margin-top: 20px; */
    font-size: 25px;
    font-weight: bolder;
}
.portfolio{
    display: flex;
    margin-left: 250px;
}
.portfolio2{
    display: flex;
    margin-left: 250px;
}
.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
    margin: 5px;
}
.contact{
    background-image: url("c_image.jpg");
    width: 100%;
    height: 60vh;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.port{
    text-align: center;
    font-size: 25px;
    font-weight: bolder
}
.inputname input{
    background-color: transparent;
    width: 350px;
    height: 30px;
    color: white;
    border: 2px solid white;
}
.contact2{
    display: flex;
    margin-left: 650px;
}
.inputname, .inputemail{
    margin: 20px;
}
.inputemail input{
    background-color: transparent;
    width: 350px;
    height: 30px;
    color: black;
    border: 2px solid white;
}
#message{
    height: 300px;
    background-color: transparent;
    border: 2px solid white;
    margin-left: 650px;
    width: 35%;

}
#text::placeholder{
    color: white;
}
.social{
    display: flex;
    margin-left: 900px;
}
.copyright{
    text-align: center;
    height: 200px;
}
.btn{
    width: 250px;
    margin-left: 850px;
    background-color: blue;
}
.contact h1{
    text-align: center;
    color: white;
}
.grey{
    display: none;
    color: white;
    position: relative;
    top: -50%;
    border: 2px solid white;
    height: 1cm;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: bolder;
    

}
.ontario{
    display: none;
    color: white;
    position: relative;
    top: -50%;
    border: 2px solid white;
    height: 1cm;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: bolder;
}
.orange{
    display: none;
    color: white;
    position: relative;
    top: -50%;
    border: 2px solid white;
    height: 1cm;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: bolder;
}
.carrey{
    display: none;
    color: white;
    position: relative;
    top: -50%;
    border: 2px solid white;
    height: 1cm;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: bolder;
}
.good{
    display: none;
    color: white;
    position: relative;
    top: -50%;
    border: 2px solid white;
    height: 1cm;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: bolder;
}
.cotroll{
    display: none;
    color: white;
    position: relative;
    top: -50%;
    border: 2px solid white;
    height: 1cm;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: bolder;
}
.mockup{
    display: none;
    color: white;
    position: relative;
    top: -50%;
    border: 2px solid white;
    height: 1cm;
    width: 70%;
    left: 15%;
    text-align: center;
    font-weight: bolder;
}



