*{
    box-sizing: border-box;
}
.container{
    background-image: url("h_img.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-left: 150px;
    
}
.logo{
    margin-left: 570px;
    padding-top: 150px;
    /* margin-top: 300px; */
    align-items: center;

}
.paragraph{
    color: white;
    text-align: center;
    padding-left: 110px;
}
.mouse{
    margin-left: 1150px;
    padding-top: 450px;
}
.about{
    text-align: center;
    word-spacing: 10px;
    font-size: 25px;
}
.services{
    background-image: url("s_image.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-left: 150px;
    padding-top: 40px;
}
.servicesp{
    color: white;
    text-align: center;
    word-spacing: 10px;
    font-size: 25px;
}
.whatwedo{
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
    margin: 350px;
    padding: 40px;
    padding-top: 50px;
}
.design p{
    font-size: 25px;
}
.product p{
    font-size: 25px;
}
.development p{
    font-size: 25px;
}
.heading{
    text-align: center;
    padding-top: 150px;
    margin-top: 20px;
}
.portfolio{
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
}
.portfolio2{
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
}